body {
 font-family: 'Open Sans', sans-serif;
 padding: 20px;
}

.header {
  padding: 20px;
  border-color: #d3d3d3;
  border-style: none none solid none;
  border-width: 0 0 1px 0;
  display: block;
  font-size: 2em;
}

.logoA {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.logoSlash {
  font-family: 'Playfair Display', serif;
}

.logoB {
  font-family: 'Montserrat', sans-serif;
}

ul {
 padding: 20px;
}

li.article {
  list-style: none;
  margin-bottom: 30px;
}

li.article img {
  max-height: 20px;
  max-width: 20px;
  display: block;
  float: left;
}

li.article a {
  display: block;
  margin-left: 50px;
  font-family: 'Playfair Display', serif;
  color: black;
}
