<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"></meta>
    <title>{{page.title}} | {{site.name}}</title>

    <link rel="shortcut icon"
          type="image/x-icon"
          href="/favicon.ico"></link>

    <link rel="stylesheet"
          href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
          integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD"
          crossorigin="anonymous"></link>

    <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    {{content}}
  </body>
</html>
